<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotus</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  </head>
  <body>
    <!--meste parten av koden brukt her plache holders  men du kan see koden til menu og footer vi har også et kart sammen me teksten-->
    {% include 'menu.html' %}
    <table width="70%">
        <tr> 
            <td>
                <p><iframe height="50%" width="50%"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1801529.4633310048!2d8.477109828635282!3d60.33365323039552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46418999f6351bc3%3A0xde5f50512fd18177!2sEidsvoll!5e0!3m2!1sno!2sno!4v1683661892033!5m2!1sno!2sno" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> Velkommen til Lotus Vi er en klesbutikk som ble etablert med en lidenskap for mote og et ønske om å tilby våre kunder det beste utvalget av klær og tilbehør. Vi er stolte av å tilby et bredt utvalg av moderne og stilige klær for både menn og kvinner.</p>
                <p>Vi har en unik og spennende samling av klær som er nøye utvalgt fra noen av de mest anerkjente og populære merkene på markedet. Vårt utvalg av klær inkluderer alt fra hverdagslige plagg til mer formelle antrekk. Vi tror på å tilby et utvalg av klær som passer for alle, uansett stil eller størrelse.</p>
                <p>Vårt team består av lidenskapelige og kunnskapsrike personer som alltid er på utkikk etter de siste trendene og motebevegelsene. Vi vil alltid gjøre vårt ytterste for å gi deg den beste kundeopplevelsen og hjelpe deg med å finne det perfekte antrekket. Vi ønsker at alle våre kunder skal føle seg selvsikre og velkledd.</p>
                <p>Takk for at du valgte Lotus. Vi håper å se deg i butikken vår snart!</p>
            </td>
        </tr>
    </table>
    {% include 'footer.html' %}
  </body>
</html>