<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <title>Document</title>
</head>
<body>
    {% include 'menu.html' %}
    <table>
        <tr>
            <td>
                <h1>{{msg}}</h1>
                <a href="/">Go home</a><br><br>
            </td>
        </tr>
    </table>
    {% include 'footer.html' %}
</body>
</html>