
<!-- dette er en kode som gjør det letere å adde en footer til vere side på netsiden og håle de like -->
<table class="footer" width="100%">
    <thead>
      <tr>
        <th>Navn</th>
        <th>Alder</th>
        <th>By</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Per</td>
        <td>25</td>
        <td>Oslo</td>
      </tr>
      <tr>
        <td>Lisa</td>
        <td>30</td>
        <td>Bergen</td>
      </tr>
      <tr>
        <td>Markus</td>
        <td>21</td>
        <td>Trondheim</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">dette er en plache holder footer</td>
      </tr>
    </tfoot>
</table>