<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- dette er her du får svaret ditt vis du skrev riktig loginn informashon-->
    {% include 'menu.html' %}
    <h1>{{msg}}</h1>
    <a href="/list"><button>worker list</button></a>
    <br><br>
    <a href="/"><button>back</button></a><br><br>
    {% include 'footer.html' %}
</body>
</html>